<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entreprises</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="p-3 m-3">
        <div class="card">
            <div class="card-header">
                Liste des Entreprises
                <a th:href="@{/addEntreprise}" class="btn btn-primary float-end">Ajouter Entreprise</a>
            </div>

                <div class="card-body">
                    <form th:action="@{/searchEntreprises}" method="get" class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" placeholder="Rechercher une entreprise par nom..." aria-label="Rechercher une entreprise par nom..." aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Rechercher</button>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Secteur</th>
                                <th>Carte</th>
                                <th>Action </th>
                            </tr>
                        </thead>
                         <tbody>
                             <tr th:each="e: ${entreprises}">
                                <td th:text="${e.id}"></td>
                                 <td th:text="${e.nom}"></td>
                                 <td th:text="${e.description}"></td>
                                 <td th:text="${e.secteur.nom}"></td>
                                 <td th:text="${e.carte.adresse}"></td>


                                 <td><a th:href="@{/deleteEntreprise(id=${e.id})}">

                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class=" bi-trash"
                                      viewBox="0 0 16 16">
                                     <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                     <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                 </svg>
                             </a>
                             </td>
                                 <td><a th:href="@{/editEntreprise(id=${e.getId()})}">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                                          class="bi bi-pencil" viewBox="0 0 16 16">
                                         <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                     </svg>
                                 </a>
                                 </td>



                             </tr>
                         </tbody>
                    </table>

                        <ul class="nav nav-pills">
                            <li  th:each="page, status: ${pages}"><a th:href="@{/index(page=${status.index})}"
                                    th:class="${status.index == page} ? 'btn btn-primary' : 'btn btn-outline-primary'"
                                    th:text="${status.index}" ></a>
                            </li>
                        </ul>

                </div>
        </div>
    </div>
</body>
</html>